.d3chart {
	/* charts */

	background-color: #EEE;

	.axis path, .axis line {
	    fill: none;
	    stroke: white;
	    stroke-width: 1px;
	    shape-rendering: crispEdges;
	}

	.axis text {
	    font-size: 13px;
		font-family: "franklin-gothic-urw", Helvetica, Arial, sans-serif;
	}

	.axis .domain {
		stroke-width: 2px;
	}

	.chart_title {
		padding: 15px 0 5px 0;
	}
}